
.accordion{
  max-width: 1200px;
  margin: auto;
}
.accordion-button[aria-expanded="false"] {
  background-color: #fffcef;
  color: #f38cb9;
}

.accordion-button[aria-expanded="true"] {
  background-color: #90ab70;
  color: black;
}

.accordion-button{
font-size: 2rem;

}
.checkoutLogo {
  margin: 0 auto;
  width: 15rem;
}

.orderTxt {
  color: rgb(203, 0, 0);
}

.placedOrderContainer {
  display: flex;
  justify-content: center;
}

.proceedBtnContainer {
  width: 100%;
  height: 10rem;
  background: url("/img/banderoll.png");
  display: grid !important;
  place-items: center;
}
.proceedBtn {
  font-size: 1.5rem;
  // box-shadow: 0 4px 20px $primary;
}

.formTitle {
  font-family: "Super Chiby";
  font-size: 3rem;
  color: #f38cb9;
}

.smilesTxt {
  color: rgb(203, 0, 0);
}

.text-sum {
  color: #000;
  font-family: "Figtree", sans-serif;
  font-size: 1rem;
}

.wavecardAccord {
  max-width: 500px;
  width: 100%;
  padding: 10px;
  border: var(--s) solid #0000;
  box-sizing: border-box;
  background: $bg;
  border-radius: 50px;

  color: black;
  text-align: center;
  box-shadow: 0 8px 20px $primary;
}

.checkoutOrderSummary {
  box-shadow: 0 8px 20px $primary;
}
