.accordion {
  margin: auto;

  &-button {
    font-size: 2rem;

    &[aria-expanded="false"] {
      background-color: $accordian-bg;
      color: $primary;
    }

    &[aria-expanded="true"] {
      background-color: $accordion;
      color: black;
    }
  }
}

.checkout-cart-container {
  box-shadow: 0 8px 20px $primary;
}

.checkout-logo {
  margin: 0 auto;
  width: 15rem;
}

.checkout-order-summary {
  box-shadow: 0 8px 20px $primary;
}

.form-title {
  font-family: "Super Chiby", cursive;
  font-size: 2rem;
  color: $primary;
}

.glow-form {
  box-shadow: 0 8px 20px $primary;
  margin: auto;
}

.order-confirmation-txt,
.smiles-txt {
  color: $order-confirmation-txt;
}

.placed-order-container {
  display: flex;
  justify-content: center;
}

.proceed-btn {
  font-size: 1.2rem;
}

.proceed-btn-container {
  width: 100%;
  height: 10rem;
  background: url("/img/banderoll.webp");
  background-repeat: repeat-x;
  background-size: contain;
  display: grid !important;
  place-items: center;
}

.text-sum {
  color: #000;
  font-family: Figtree, sans-serif;
  font-size: 1rem;
}

.wavecard-accord {
  max-width: 500px;
  width: 100%;
  padding: 10px;
  border: var(--s) solid #0000;
  box-sizing: border-box;
  background: $background-color;
  border-radius: 50px;
  color: black;
  text-align: center;
  box-shadow: 0 8px 20px $primary;
}
