.candyCartTxt{
    color: #79b0df;
    padding: 4%; 
}

.accordion-button[aria-expanded="true"]{
    background-color: #90ab70;
    color: black
    
}
.accordion-button[aria-expanded="false"]{
background-color: #fffcef; 
color: #f38cb9;
}

.placedOrderContainer{
    display: flex;
    justify-content: center;
  
}
.wavecardAccord {
  
  max-width: 500px;
  width: 100%; 
  padding: 10px;
  border: var(--s) solid #0000;
  box-sizing: border-box;
  background: #79b0df;
  border-radius: 50px;
  
  color: black;
  text-align: center;
}

.smilesTxt{
  color:rgb(203, 0, 0);
}

.orderTxt{
  color:rgb(203, 0, 0);

}

.text-sum{
  color: #000;
   font-family: "Figtree", sans-serif;
   font-size: 1rem;
   
}