.addToCartBtn {
  background: #549938;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
    background-color: #77b260;
    color: white;
  }
  &:disabled {
    background: $disabled;
    color: rgb(79, 79, 79);
    border: none;
    opacity: 0.5;
  }
}

.btn {
  transition: transform 0.1s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.95);
  }
}

.btn,
.checkOutBtn,
.continueShoppingBtn {
  border: 3px double black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;

  &:hover,
  &:active {
    border: 3px double black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
  }
}

.cartMinusBtn,
.cartPlusBtn {
  width: 30px;
  height: 30px;
  border: none;
  color: black;
  display: inline;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0px;

  &:hover {
    border: none;
  }

  &:disabled {
    margin: 0;
    height: 40px;
    opacity: 0.5;
    background-color: $disabled;
    border-radius: 0px 9px 9px 0px;
  }
}

.continueShoppingBtn {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  background-color: $primary;
  width: 100%;
  padding: $btn-padding-y $btn-padding-x;

  &:hover {
    filter: brightness(1.15);
    transform: scale(1);
    background-color: $primary;
  }
  &:active {
    background-color: $primary;
    transform: scale(0.95);
  }
}

.modalInfoBtn,
.addToCartBtn {
  margin-top: 1rem;
}

.modalInfoBtn {
  margin-right: 1rem;
  background: $pink;
  border-radius: 50%;
  padding: 7px 11px;
  transition: transform 0.1s ease-in-out;

  &:hover {
    color: white;
    box-shadow: 0 4px 8px $btn-candy-purple;
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.95);
  }
}
