.addToCartBtn {
  background: #549938;
  transition: transform 0.1s ease-in-out;

  &:hover {
    box-shadow: 0 4px 8px $btn-candy-purple;
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.95);
  }
  &:disabled {
    background: $disabled;
    color: rgb(79, 79, 79);
    border: none;
    opacity: 0.5;
  }
}

.btn {
  transition: transform 0.1s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.95);
  }
}

.cartMinusBtn,
.cartPlusBtn,
.clearCartBtn,
.checkOutBtn,
.deleteBtn,
.btn {
  // box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  border: 3px black;
  border-style: double;
  border-right: 5px solid black;
  border-bottom: 5px solid black;

  &:hover,
  &:active {
    border: 3px black;
    border-style: double;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
  }
}

.cartMinusBtn,
.cartPlusBtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $btn-candy-purple;
  color: #fff;
  display: inline;
  text-align: center;
  // line-height: 40px;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0px 0px 0px 0px;

  &:hover {
    background-color: darkmagenta;
  }

  &:disabled {
    opacity: 0.5;
    background-color: $disabled;
  }
}

.continueShoppingBtn {
  margin-top: 2rem;
}

.modalInfoBtn,
.addToCartBtn {
  margin-top: 1rem;
}

.modalInfoBtn {
  margin-right: 1rem;
  background: $pink;
  border-radius: 50%;
  padding: 7px 11px;
  transition: transform 0.1s ease-in-out;

  &:hover {
    color: white;
    box-shadow: 0 4px 8px $btn-candy-purple;
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.95);
  }
}
