.card-text {
  text-align: left;
  font-size: smaller;
  padding: 0px;
}
.card-title {
  color: red !important;
}
.stockStatus {
  margin-bottom: -1rem;
}

.infoContainer {
  position: relative;
  bottom: 10px;
}
.infoContainer h5 {
  height: 70px;
}
.stockStatus {
  height: 40px;
}
