.card-text {
  text-align: left;
  font-size: smaller;
  padding: 0px;
}

.stockStatus {
  height: 40px;
  margin-bottom: -1rem;
}

.infoContainer {
  position: relative;
  bottom: 10px;
}
.infoContainer h5 {
  height: 70px;
}

.smallCardsTitle {
  color: $card-title;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.5rem;
}