.checkout-cart-list-item p {
  padding: 0;
  margin: 0;
}

.checkout-cart-list-item {
  width: 100%;
  border-radius: 0 0 10px 10px;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  padding: 8px;

  --bs-checkout-cart-title-spacer-y: 0.3rem;

  overflow: hidden;
  gap: 6px;
  display: grid;
  grid-template: "checkout-thumbnail checkout-cart-title checkout-cart-title" auto "checkout-thumbnail checkout-cart-price checkout-cart-total" auto "checkout-thumbnail button-container button-container" auto / 1fr 1fr 1fr;
}

.checkout-thumbnail {
  max-width: 70px;
  grid-area: checkout-thumbnail;
  align-self: center;
  border-radius: 10px;
}

.checkout-cart-title {
  grid-area: checkout-cart-title;
  font-weight: 700;
}

.checkout-cart-price {
  grid-area: checkout-cart-price;
}

.checkout-cart-total {
  grid-area: checkout-cart-total;
}

.button-container {
  grid-area: button-container;
}

.small-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: solid 1px rgb(187 187 187);
  border-radius: 10px;
}

.cart-qty {
  display: inline-block;
  text-align: center;
  margin: auto;
  width: 40px;
  line-height: 40px;
  border: none;
  color: black;
  background-color: $cart-qty-bg;
}

.delete-btn {
  border: none;

  &:hover {
    border: none;
  }
}

@media (width >= 886px) {
  .checkout-cart-list-item {
    border-radius: 0 0 10px 10px;
    margin-bottom: 0.5rem;
    padding: 8px;

    --bs-checkout-cart-title-spacer-y: 0.3rem;

    overflow: hidden;
    gap: 6px;
    display: grid;
    grid-template: "checkout-thumbnail checkout-cart-title checkout-cart-title" auto "checkout-thumbnail checkout-cart-price button-container" auto "checkout-thumbnail checkout-cart-total button-container" auto / 120px 10rem auto;
  }

  .checkout-thumbnail {
    grid-area: checkout-thumbnail;
    align-self: center;
    border-radius: 10px;
    max-width: 110px;
  }

  .checkout-cart-title {
    grid-area: checkout-cart-title;
  }

  .checkout-cart-price {
    grid-area: checkout-cart-price;
  }

  .checkout-cart-total {
    grid-area: checkout-cart-total;
  }

  .button-container {
    grid-area: button-container;
    margin-right: 10px;
  }
}
