// 🎀 CandyColors 🍬
$accent: #f38cb9;
$accent-light: #ffa1ec;

//Logo colors
$logoPinkBg: #ffdcdeff;
$logoRedText: rgb(165, 25, 15);

//Main colors
$primary: $accent;
$secondary: #bde0fe;
$backgroundColor: #fffcef;

//Buttons
$btn-candy-pink: #f472b6;
$btn-candy-purple: #c084fc;

$disabled: rgb(148, 148, 148);

//Footer
$footer: #c4dcd1;

$accordianbg: #fffcef;
$offcanRenderAllCardsBg: #bde0fe;

//Side scroller
$sideScrollerArrow: rgb(244, 150, 166);

//Cards
$card-title: var(--bs-gray-800);
$allCardsContainerBG: #79b0df;

//More to munch button
$blue: #87cefa;
$pink: #ff69b4;
$cream-white: #f5f5dc;

//accordion / hero green
$accordion: #90ab70;
