// 🎀 CandyColors 🍬
$accent: #f38cb9;
$accent-light: #ffa1ec;

//Main colors
$primary: $accent;
$secondary: #bde0fe;

// $allCardsContainerBG: #f4e6ff;
$bg: #fffcef;

//Buttons
$btn-candy-pink: #f472b6;
$btn-candy-purple: #c084fc;
// $card-body: #fffdf5;

//??
$cream-white: #f5f5dc;
$dark-hover: #e04b90;
$disabled: rgb(148, 148, 148);
$footer: #c4dcd1;
$nav-color: #fffcef;
$offcanvas: #bde0fe;
$shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
$text: #0d0d0d;
///

$title-text: #ea5d93;

$category-header: rgb(255, 249, 216);

//Side scroller
$sideScrollerArrow: rgb(244, 150, 166);

//Cards
$card-title: rgb(255, 83, 140);
$allCardsContainerBG: #79b0df;

//More to munch button
$blue: #87cefa;
$pink: #ff69b4;

//Snygg mörk blå #79b0df;
