@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

:root {
  --bs-primary: #{$primary};
}

// 🎀 Main colors 🍬
$primary: #f38cb9;
$secondary: #bde0fe;
$green: #90ab70;
$background-color: #fffcef;
$light-bg: #fff;
$light-text: #fff;
$dark-text: $gray-800;

// Border radius
$border-radius-md: 10px;

// Buttons
$btn-candy-pink: #f472b6;
$btn-candy-purple: #c084fc;
$disabled: rgb(79 79 79);
$modal-info-btn-bg: #f472b6;

// Cart(Offcanvas)
$cart-qty-bg: #c4dcd1;
$offcan-bg: $secondary;

// Logo colors
$logo-red-text: rgb(203 0 0);

// accordion / hero green
$accordion: #90ab70;
$accordion-bg: #fffcef;

// Cards
$card-title: $dark-text;
$all-cards-container-bg: #79b0df;
$card-bg: $secondary;

// Checkout
$order-confirmation-txt: $logo-red-text;

// Footer
$footer-bg: #c4dcd1;
$footer-text: #575757;
$footer-icon-color: rgb(165 25 15);

// More to munch button
$load-more-candy-btn-txt-color: #f5f5dc;

// Shadow color
$shadow-color: rgb(0 0 0 / 20%);

// Side scroller
$side-scroller-arrow: rgb(244 150 166);

// Sweet savings category
$discount-badge-bg: $logo-red-text;
