.after-scallop {
  background: $footer;
  padding: 50px;
  text-align: right;
}

.contact-info {
  text-align: left;
  align-self: center;
  a {
    text-decoration: none;
    color: $logoRedText;
  }
}

footer {
  color: $footerText;
  a {
    color: $footerText;
    &:hover {
      text-decoration: underline;
    }
    &:active {
      color: $btn-candy-pink;
    }
  }

  i {
    margin: 0.5rem;
    font-size: 2rem;
    color: $logoRedText;
    text-decoration: none;
    &:hover {
      color: $btn-candy-pink;
    }
  }
  &-text {
    font-size: 0.7rem;
    text-align: center;
  }
}

.gangGang {
  font-size: 1.5rem;
  a {
    text-decoration: none;
    &:hover {
      color: $logoRedText;
      text-decoration: underline;
    }
  }
}

.logoContainerFooter {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 50vw;
}

.logoImgFooter {
  width: 15rem;
  height: 10rem;
  filter: saturate(0.6);
  align-self: center;
}

@media (max-width: 576px) {
  .logoImgFooter {
    display: none;
  }
}
