.footer-text,
.contact-info {
  color: rgb(87, 87, 87);
}

.contact-info {
  // padding-top: 50px;
  // margin-bottom: 2rem;
  // display: inline-block;
  // margin-top: 2rem;
  text-align: left;
  padding-top: 100px;
  // display: flex;
  // justify-content: space-between;
  // align-items: flex-end;
}
.footer a {
  & :hover {
  }
  & :active {
  }
}

.address-list {
  list-style: none;
}

.address-list a {
  text-decoration: none;
  color: $logoRedText;
}
.footer-text {
  font-size: 0.7rem;
  text-align: center;
}

.footer-icons {
  color: $btn-candy-pink;
  text-align: left;
}

.footer-icons i {
  display: inline-block;
  margin: 0.5rem;
  font-size: 2rem;
  color: $logoRedText;
}

.scallop {
  position: relative;
  background: $bg;
}

.scallop::after {
  position: absolute;
  width: 100%;
  content: " ";
  background: radial-gradient(
    circle at 50% 0%,
    #fffcef 25%,
    $footer 26%,
    $footer 40%
  );
  background-color: $accent;
  background-size: 50px 100px;
  height: 6rem;
  background-repeat: repeat-x;
}
.after-scallop {
  background: $footer;
  padding: 50px;
  text-align: right;
}

.gangGang {
  font-size: 1.5rem;
  color: inherit;
}

.gangGang a {
  color: inherit;
  text-decoration: none;
}

.gangGang a:hover,
.gangGang a:focus,
.gangGang a:active {
  color: $accent;
  text-decoration: none;
}
footer p {
  font-size: 0.9rem;
}
.logoContainerFooter {
  padding-top: 100px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: end;
  max-width: 50vw;
}

.logoImgFooter {
  width: 20%;
  filter: saturate(0.6);
}

@media screen and (max-width: 576px) {
  .logoContainerFooter {
    display: none;
  }
}
