@media (max-width: 400px) {
  .navbarLogo {
    font-size: 3rem;
  }
}

@media (min-width: 992px) {
  .navbar-nav {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: flex-start;
    gap: 3rem;
    font-weight: 400;
  }
}

@media (min-width: 1200px) {
  .navbar-nav {
    font-size: 1.5rem;
  }
}
@media (min-width: 576px) {
  .buttonContainer {
    grid-area: buttonContainer;
    margin-left: 10px;
    padding: 0;
  }
}

@media (min-width: 600px) {
  .offcanvas {
    --bs-offcanvas-width: 64vw;
  }
}

@media (min-width: 768px) {
  .offcanvas-title {
    font-size: 2.2rem;
  }
  .offcanvas {
    --bs-offcanvas-width: 52vw;
  }
}
@media (min-width: 992px) {
  .offcanvas {
    --bs-offcanvas-width: 41vw;
  }
}
@media (min-width: 1200px) {
  .offcanvas {
    --bs-offcanvas-width: 33vw;
  }
}
@media (min-width: 1400px) {
  .offcanvas {
    --bs-offcanvas-width: 28vw;
  }
}
