.modal-body p:nth-of-type(2) {
  color: $primary;
  font-size: 1.5rem;
  font-family: "Super Chiby";
}
.modal-body p:nth-of-type(2)::before {
  content: "🍬";
}
.modal-body p:nth-of-type(2)::after {
  content: "!";
}

.modal-body p:nth-of-type(3)::first-line {
  font-weight: 800;
}
.modal-content {
  border: 4px solid $primary;
}

.modalThumbnail {
  transition: transform 1.5s ease-in-out;
}
.modalThumbnail:hover {
  transform: scale(0.2);
}
.modalInfoBtn {
  background: linear-gradient(
    45deg,
    $btn-candy-pink 50%,
    $btn-candy-purple 100%
  );
  transition: transform 0.1s ease-in-out;

  &:hover {
    color: white;
    box-shadow: 0 4px 8px $btn-candy-purple;
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.95);
  }
}
