.modal-body p:nth-of-type(2) {
  color: $primary;
  font-size: 1.5rem;
}
.modal-body p:nth-of-type(2)::before {
  content: "🍬";
}
.modal-body p:nth-of-type(2)::after {
  content: "!";
}

.modal-body p:nth-of-type(3)::first-line {
  font-weight: 800;
}
.modal-content {
  border: 4px solid $primary;
}

.modalThumbnail {
  transition: transform 1.5s ease-in-out;
}
.modalThumbnail:hover {
  transform: scale(0.2);
}
.modal-price {
  margin: 0px;
}
.modal-footer {
  border: none;
}
.scrollableModal{
  max-height: 400px;
  overflow-y: auto;
  padding-right:10px;
}