.nav-link {
  margin-right: 15px;
  transition: all 0.2s;

  &:hover {
    transform: scale(1.1);
    color: $btn-candy-pink;
  }
}

.navbar {
  display: flex;
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
  border-bottom-left-radius: 20px;
  min-width: 350px;
}

.navbar-brand {
  transition: transform 0.5s ease-in-out;

  &:hover {
    transform: rotate(350deg) scale(1.2) translateX(20px) translateY(15px);
    text-shadow: 0 0 10px white;
  }
}

.navbar-logo {
  font-family: Chicle, serif;
  font-size: 4rem;
  color: rgb(203 0 0);
  margin: 0 10px;
}

.navbar-cart {
  transition: transform 0.2s ease-in-out;
  display: inline-block;

  &:hover {
    color: $btn-candy-pink;
    transform: scale(1.4) rotate(-10deg) translateX(3px);
  }
}

.navbar-gradient {
  background: linear-gradient(90deg, #ffb3d9 0%, #ffebb3 30%, #a3dcff 100%);
}

.navbar-toggler {
  border: 1px solid $primary;
  box-shadow: 2px 3px 3px $btn-candy-pink;
  margin-left: 0.2rem;
  margin-right: 0.8rem;

  &:focus {
    border: 1rem;
    color: $btn-candy-pink;
  }
}

.navbar-cart-badge {
  position: absolute;
  top: 0;
  left: 100%;
  transform: translate(-50%, -50%);
  border-radius: 50rem;
  background-color: $primary;
}
