/**
 * Bootstrap Breakpoints
 * 
 * xs: 0px (default)
 * sm: 576px
 * md: 768px
 * lg: 992px
 * xl: 1200px
 * xxl: 1400px
 */

h5 {
  font-size: 2.5rem;
  color: $title-text;
}
.offcanvas {
  background-color: $offcanvas;
  overflow-x: auto;
  // overflow-y: auto;
  max-height: 100vh;
  --bs-offcanvas-width: 94%;
  display: flex;
}

.offcanvas p {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .offcanvas {
    --bs-offcanvas-width: 45%;
  }
}

// @media screen and (min-width: 868px) {
//   .offcanvas {
//     --bs-offcanvas-width: 45%;
//   }
// }

.cartListItem {
  margin-bottom: 0.5rem;
  padding: 5px;
  max-width: 500px;
  border: 1px solid gray;
  --bs-card-title-spacer-y: 0.3rem;
  overflow: hidden;

  margin-bottom: 10px;
  border-bottom: 1px solid lightgray;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;

  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 80px auto auto;
  grid-template-areas:
    "cartThumbnail card-title  card-title"
    "cartThumbnail cartPrice buttonContainer"
    "cartThumbnail cartQty buttonContainer";
}

.cartThumbnail {
  grid-area: cartThumbnail;
  align-self: center;
}
.card-title {
  grid-area: card-title;
}
.cartPrice {
  grid-area: cartPrice;
}
.cartQty {
  grid-area: cartQty;
}
.buttonContainer {
  grid-area: buttonContainer;
}

//3 rows
//3 cols

//Thumb col:1 row 1-3
// header col:2-3 row 1
//Price, qty col 2 row 2
//Buttons col 3 row 2-3
