.buttonContainer {
  grid-area: buttonContainer;
  margin-left: 10px;
  margin-top: 1rem;
  padding: 0;
}

.cartThumbnail {
  align-self: center;
  border-radius: 10px;
  grid-area: cartThumbnail;
  max-width: 70px;
}

.checkOutBtn {
  background-color: $accordion;
  margin: 0 auto;
  width: 100%;
}

.clearCartBtn {
  margin: 0 auto;
  width: 94%;
}

.offCanCartListItem {
  --bs-card-title-spacer-y: 0.3rem;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  column-gap: 6px;

  display: grid;
  grid-template-areas:
    "cartThumbnail offCanCartTitle  offCanCartTitle"
    "cartThumbnail offCanCartPrice offCanCartTotal"
    "cartThumbnail buttonContainer buttonContainer";
  grid-template-columns: 80px auto auto;
  grid-template-rows: auto auto auto;

  margin: 0 auto;
  margin-bottom: 0.5rem;
  max-width: 500px;
  overflow: hidden;
  padding: 8px;
  row-gap: 6px;
}

.offCanCartPrice {
  grid-area: offCanCartPrice;
}

.offCanCartTitle {
  font-weight: 700;
  grid-area: offCanCartTitle;
}

.offCanCartTotal {
  grid-area: offCanCartTotal;
}

.offcanvas {
  background-color: $offcanvas;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0px 20px;
}

.offcanvas p {
  margin: 0;
  padding: 0;
}

.offcanvas-title {
  font-size: 1.8rem;
}

.offcanvasBody {
  // min-width: fit-content;
  margin: 0 auto;
}

.orderSummaryHeader {
  font-size: 2rem;
}

@media screen and (min-width: 576px) {
  .buttonContainer {
    grid-area: buttonContainer;
    margin-left: 10px;
    padding: 0;
  }

  .cartThumbnail {
    // max-width: 70px;
    align-self: center;
    border-radius: 10px;
    grid-area: cartThumbnail;
  }

  .offCanCartListItem {
    --bs-card-title-spacer-y: 0.3rem;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    column-gap: 6px;

    display: grid;
    grid-template-areas:
      "cartThumbnail offCanCartTitle  offCanCartTitle"
      "cartThumbnail offCanCartPrice buttonContainer"
      "cartThumbnail offCanCartTotal buttonContainer";
    grid-template-columns: 80px auto auto;
    grid-template-rows: auto auto auto;

    margin: 0 auto;
    margin-bottom: 0.5rem;
    max-width: 500px;
    overflow: hidden;
    padding: 8px;
    row-gap: 6px;
  }

  .offCanCartPrice {
    grid-area: offCanCartPrice;
  }

  .offCanCartTitle {
    grid-area: offCanCartTitle;
  }

  .offCanCartTotal {
    grid-area: offCanCartTotal;
  }

  .offcanvas {
    --bs-offcanvas-width: 45vw;
  }

  .offcanvas-title {
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .offcanvas-title {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 992px) {
  .offcanvas {
    --bs-offcanvas-width: 41vw;
  }
}
@media screen and (min-width: 1200px) {
  .offcanvas {
    --bs-offcanvas-width: 33vw;
  }
}
@media screen and (min-width: 1400px) {
  .offcanvas {
    --bs-offcanvas-width: 29vw;
  }
}
