.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cardTransform {
  background-color: $offcanvas;
  transition: all 0.2s ease-in-out;

  &:hover:nth-of-type(odd) {
    transform: scale(1.02) rotate(-1deg);
    filter: brightness(1.1) saturate(110%);
  }
  &:hover:nth-of-type(even) {
    transform: scale(1.02) rotate(2deg);
    filter: brightness(1.1) saturate(110%);
  }
}

.cardTransform img {
  padding: 10px;
}

.card-title {
  font-size: 30px !important;
  //color: $card-title;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cardDisabled {
  opacity: 0.5;
}

.addToCartBtn {
  background: linear-gradient(
    45deg,
    rgb(117, 227, 117) 50%,
    rgb(54, 161, 54) 100%
  );
  transition: transform 0.1s ease-in-out;
  border: none;

  &:hover {
    box-shadow: 0 4px 8px $btn-candy-purple;
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.95);
  }
  &:disabled {
    background: $disabled;
    color: rgb(79, 79, 79);
    border: none;
    opacity: 0.5;
  }
}

.candyAmount {
  font-size: 2.5rem;
  z-index: 100;
  margin-right: 35px;
  .candyAmountRendered {
    font-size: 1rem;
    position: absolute;
    margin-top: 10px;
    margin-left: -20px;
  }
}

.scallopbox {
  --r: 30px;
  height: auto;
  aspect-ratio: 1;
  padding: calc(1.5 * var(--r));
  background: $allCardsContainerBG;
  mask: linear-gradient(#000 0 0) no-repeat 50% / calc(100% - 2 * var(--r))
      calc(100% - 2 * var(--r)),
    radial-gradient(farthest-side, #000 97%, #0000) 0 0 / calc(2 * var(--r))
      calc(2 * var(--r)) round;

  h2 {
    text-align: center;
  }
}

.wavebox {
  z-index: 1;
  background-color: $allCardsContainerBG;
  --mask: radial-gradient(34.99px at 50% 48px, #000 99%, #0000 101%)
      calc(50% - 60px) 0/120px 51% repeat-x,
    radial-gradient(34.99px at 50% -18px, #0000 99%, #000 101%) 50% 30px/120px
      calc(51% - 30px) repeat-x,
    radial-gradient(34.99px at 50% calc(100% - 48px), #000 99%, #0000 101%)
      calc(50% - 60px) 100%/120px 51% repeat-x,
    radial-gradient(34.99px at 50% calc(100% + 18px), #0000 99%, #000 101%) 50%
      calc(100% - 30px) / 120px calc(51% - 30px) repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.wavecard {
  --s: 20px;  
  --w: 360px; 
  
  width: round(var(--w),4*var(--s)); 
  aspect-ratio: 1;
  padding: var(--s);
  border: var(--s) solid #0000;
  box-sizing: border-box;
  background: #CD8C52;
  border-radius: calc(3.5*var(--s)); 
  mask: 
    radial-gradient(calc(sqrt(2)*var(--s)),#000 calc(100% - 1px),#0000),
    conic-gradient(#000 0 0) content-box,
    radial-gradient(calc(sqrt(2)*var(--s)),#0000 100%,#000 calc(100% + 1px)) 
     var(--s) var(--s) padding-box;
  mask-size: calc(var(--s)*4) calc(var(--s)*4);
}
