.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cardTransform {
  background-color: $offcanvas;
  transition: all 0.2s ease-in-out;

  &:hover:nth-of-type(odd) {
    transform: scale(1.02) rotate(-1deg);
    filter: brightness(1.1) saturate(110%);
  }
  &:hover:nth-of-type(even) {
    transform: scale(1.02) rotate(2deg);
    filter: brightness(1.1) saturate(110%);
  }
}

.cardTransform img {
  padding: 10px;
}

.card-title {
  color: $card-title;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-text {
  font-family: "Courier New", Courier, monospace;
}

.cardDisabled {
  opacity: 0.5;
}

.allCardsContainer {
  background-color: $allCardsContainerBG;
  border-radius: 20px;

  .category-header {
    background-image: url(/src/assets/img/banderoll.png);
    background-repeat: repeat;
    color: $category-header;
  }
}

.candyAmount {
  font-size: 2.5rem;
  z-index: 100;
  margin-right: 35px;
  .candyAmountRendered {
    font-size: 1rem;
    position: absolute;
    margin-top: 10px;
    margin-left: -20px;
  }
}
