.top-treats-side-scroller-container-outer {
  position: relative;
}

.top-treats-side-scroller-container {
  height: 555px;
  margin: 30px 45px;
  gap: 30px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.top-treats-side-scroller-container .card {
  flex-shrink: 0;
  margin-bottom: 20px;
}

.scroll-arrow {
  margin: 0 30px;
  color: $primary;
  font-size: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s ease-in-out;
  cursor: pointer;
  z-index: 1000;

  &:first-of-type {
    left: -20px;
  }

  &:last-of-type {
    right: -20px;
  }

  &:last-of-type:hover {
    transform: scale(1.05) translateY(-50%);
  }

  &:last-of-type:active {
    transform: scale(0.95) translateY(-50%);
  }

  &:first-of-type:hover {
    transform: scale(1.05) translateY(-50%);
  }

  &:first-of-type:active {
    transform: scale(0.95) translateY(-50%);
  }
}

.card-title-side-scroller {
  font-size: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-title-side-scroller::after {
  content: "!";
}
