.topTreatsSideScrollerContainerOuter {
  position: relative;
}

.topTreatsSideScrollerContainer {
  height: 555px;
  margin: 30px 25px;
  gap: 30px;
  overflow-x: auto;

  display: flex;
  flex-direction: row;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.topTreatsSideScrollerContainer .card {
  flex-shrink: 0;
  margin-bottom: 20px;
}
.scrollArrow {
  color: $sideScrollerArrow;
  font-size: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s ease-in-out;
  cursor: pointer;

  &:first-of-type {
    left: -20px;
  }
  &:first-of-type:hover {
    transform: scale(1.05) translateY(-50%);
  }
  &:first-of-type:active {
    transform: scale(0.95) translateY(-50%);
  }

  &:last-of-type {
    right: -20px;
  }
  &:last-of-type:hover {
    transform: scale(1.05) translateY(-50%);
  }
  &:last-of-type:active {
    transform: scale(0.95) translateY(-50%);
  }
}
.cardTitleSideScroller {
  color: $card-title;
  font-size: 2.5rem;
  // overflow: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}
