h2 {
  font-size: 3rem;
}
h2,
h4,
h5{
  font-family: "Super Chiby";
  //   color:$title-text;
}
@font-face {
  font-family: "Super Chiby";
  src: url(/src/assets/fonts/super_chiby/Super\ Chiby.ttf);
  font-display: swap;
}

@font-face{
  font-family: "Figtree";
  src: url(/src/assets/fonts/Figtree/Figtree-VariableFont_wght.ttf);
    font-display: swap;
}

@font-face{
  font-family: "Chicle";
  src: url(/src/assets/fonts/Chicle/Chicle-Regular.ttf);
  font-display: swap;
}