//Variable and config files
@import "colors";
//Bootstrap
@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";
//Children partials, custom CSS.
@import "badges";
@import "buttons";
@import "cards";
@import "carousel";
@import "cart";
@import "categories";
@import "checkoutCart";
@import "footer";
@import "mediaQueries";
@import "modal";
@import "navbar";
@import "offcan";
@import "renderAllCards";
@import "sideScroller";
@import "typography";
@import "accordian";

body {
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
  background-color: $bg;
  margin: 0px;
  padding: 0px;
}

.container-fluid {
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: auto;
  overflow: auto;
}

.click {
  cursor: pointer;
}
.scroll-container {
  background-color: $accent;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px 0px;

  }

 .scroll-content{
  display: inline-flex;
  white-space: nowrap;
  animation: scroll 20s linear infinite;
  gap: 3.5rem;
  }

.scroll-content span{
  display: inline-flex;
  }

  span{
    flex-shrink: 0;
    white-space: nowrap;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

.sale-banner {
  background-color: red;
  color: black;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  margin: 50px auto;
  max-width: 600px;
  box-shadow:  0 4px 10px rgba(0,0,0,0.2);

  
  transform: scale(1);
  animation: pulse 1s infinite ease-in-out; 
}

 @keyframes pulse{
  0%{
   transform: scale(1);
  }

  50%{
    transform: scale(1.05);
  }
  100%{
    transform: scale(1);
  }
 }

 .sale-banner:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

