// 🎀 CandyColors 🍬
$bg: #FFFCEF;
$card-body: #FFFDF5;
$btn-candy-pink: #f472b6;
$btn-candy-purple: #c084fc;
$accent: #F38CB9;
$accent-light: #ffa1ec;
$text: #0d0d0d;
$nav-color: #FFFCEF;
$shadow: 0 4px 20px rgba(0,0,0,0.5);
$primary: $accent;
$footer: #C4DCD1; 
$offcanvas: #BDE0FE; 
$title-text: #ea5d93;


@import "bootstrap/scss/bootstrap.scss";

body {
    background-color: $bg;
    padding-top: 105px;
}

html, body{
  height: auto;
  overflow: auto;
}

/*  OFFCAN - YOUR CANDY CART  */

@font-face {
  font-family: "Super Chiby";
  src: url(/src/assets/fonts/super_chiby/Super\ Chiby.ttf);

}


h2 {
  font-family: "Super Chiby";
  font-size: 3rem;
}

h5 {
  font-family: "Super Chiby";
  font-size: 2.3rem;
  color:$title-text;
  
}

.candyAmount {
  font-size: 3rem;
  position: fixed;
  z-index: 100;
.candyAmountRendered {
  font-size: 1rem;
  position: absolute;
  margin-top: 10px;
  margin-left: -25px;

}
}


.outOfStock {
  color: grey;
}
.click {
  cursor: pointer;
}

.carousel {
  width: 100vw;
  margin-left: -12px;
}

.cardtrans:hover {
  box-shadow: 6px 6px 6px rgb(167, 167, 167);
  transform: scale(1.02);
}

.offcanvas{ 
  background-color: $offcanvas;
  overflow-y: auto;
  max-height: 100vh;
}

.minusBtn,
.plusBtn{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $btn-candy-purple;
  color: #ffffff;
  border: none;
  display: inline;
  text-align: center;
  line-height: 40px;
  font-size: 1.2rem;
  font-weight: bold;

  &:hover {
    background-color: darkmagenta;
  }
}
.product-qty{
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 8px;
  border: none;
  font-size: 1.2rem;
}

.card-text{
  text-align: left;
  font-size: smaller;
  padding: 0px;
}
.stockStatus{
  margin-bottom: -1rem;
}

/* FOOTER */

.contact-info{
    padding-top: 50px;
    margin-bottom: 2rem;
    color: white;
    display: inline-block;
    margin-top: 2rem;
    vertical-align: top;
    text-align: left;
}

.address-list{
    list-style: none;
}

.address-list a{
     text-decoration: none;
     
}
.footer-text {
    color: white;
    font-size: 0.7rem; 
    text-align: center;
   
}


.footer-icons{
    color: $btn-candy-pink;
    text-align: left;
}

.footer-icons i {
    display: inline-block;
    margin: 8px;
    font-size: 2rem;
}

.scallop {
  position:relative;
  background: $bg;
}

.scallop::after { 
  position:absolute;
  width: 100%;
  content:" ";
  background: 
  radial-gradient(circle at 50% 0%, #FFFCEF 25%, #C4DCD1 26%, #C4DCD1 40%);
  background-color: #C4DCD1;
  background-size:50px 100px;
  height:100px;
  background-repeat: repeat-x;
 
}
.after-scallop{
  background: #C4DCD1;
  padding:50px;
  text-align: left;
}

.infoContainer{
  position: relative;
  bottom: 10px;
}
.infoContainer h5{
  height: 70px;
}
.stockStatus{
  height: 40px;
}
