//Variable and config files
@import "colors";
//Bootstrap
@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";
//Children partials, custom CSS.
@import "badges";
@import "buttons";
@import "cards";
@import "carousel";
@import "cart";
@import "categories";
@import "checkoutCart";
@import "footer";
@import "mediaQueries";
@import "modal";
@import "navbar";
@import "offcan";
@import "renderAllCards";
@import "sideScroller";
@import "typography";
@import "accordian";

body {
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
  background-color: $bg;
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: auto;
  overflow: auto;
}

.click {
  cursor: pointer;
}
.scroll-container {
  background-color: $accent;
  position: relative;
  margin-left: -12px;
  overflow: hidden;

  h4 {
  white-space: nowrap;
  width: fit-content;
  padding-top: 10px;
  text-align: center;
  transform: translateX(0);
  animation: scroll 20s linear infinite;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
}
