@import "colors";

.card.btn {
  transition: transform 0.1 ease-in-out;
  &:hover {
    //   box-shadow: 0 4px 8px $btn-candy-purple;
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.95);
  }
}

.card-text {
  text-align: left;
  font-size: smaller;
  padding: 0px;
}
.stockStatus {
  margin-bottom: -1rem;
}

.infoContainer {
  position: relative;
  bottom: 10px;
}
.infoContainer h5 {
  height: 70px;
}
.stockStatus {
  height: 40px;
}
