// 🎀 CandyColors 🍬
$bg: #FFFCEF;
$card-body: #FFFDF5;
$btn-candy-pink: #f472b6;
$btn-candy-purple: #c084fc;
$accent: #F38CB9;
$accent-light: #ffa1ec;
$pink: #ff69b4;
$blue: #87cefa;
$cream-white: #f5f5dc;
$dark-hover: #e04b90;
$text: #0d0d0d;
$disabled: rgb(148, 148, 148);
$nav-color: #FFFCEF;
$shadow: 0 4px 20px rgba(0,0,0,0.5);
$primary: $accent;
$secondary:#F38CB9;
$footer: #C4DCD1; 
$offcanvas: #BDE0FE; 
$title-text: #ea5d93;