@import "colors";

.cardTrans {
  background-color: $offcanvas;
  transition: all 0.2s ease-in-out;

  &:hover:nth-of-type(odd) {
    box-shadow: 0 0 20px $btn-candy-purple;
    transform: scale(1.02) rotate(-1deg);
  }
  &:hover:nth-of-type(even) {
    box-shadow: 0 0 20px $btn-candy-purple;
    transform: scale(1.02) rotate(2deg);
  }
}
.addToCartBtn {
  background: linear-gradient(
    45deg,
    $btn-candy-pink 50%,
    $btn-candy-purple 100%
  );
  transition: transform 0.1s ease-in-out;

  &:hover {
    box-shadow: 0 4px 8px $btn-candy-purple;
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.95);
  }
}
.modalInfoBtn {
  background: linear-gradient(
    45deg,
    $btn-candy-pink 50%,
    $btn-candy-purple 100%
  );
  transition: transform 0.1s ease-in-out;

  &:hover {
    color: white;
    box-shadow: 0 4px 8px $btn-candy-purple;
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.95);
  }
}

.navbar-brand {
  transition: transform 0.5s ease-in-out;

  &:hover {
    transform: rotate(360deg);
  }
}
.cardTrans img {
  transition: box-shadow 0.1s ease-in-out;
  border: 10px dotted $btn-candy-pink;
  &:hover {
    box-shadow: 0 0 20px $btn-candy-purple;
  }
}

.card-title {
  color: white;
  font-size: 1.5rem !important;
}
