@import "colors";
.topTreatsSideScrollerContainerOuter {
  position: relative;
}

.topTreatsSideScrollerContainer {
  height: 555px;
  margin: 30px 10px;
  gap: 20px;
  overflow-x: auto;

  display: flex;
  flex-direction: row;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.topTreatsSideScrollerContainer .card {
  flex-shrink: 0;
  margin-bottom: 20px;
}

.scrollArrow {
  color: $btn-candy-purple;
  font-size: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s ease-in-out;
  // z-index: 100;
  cursor: pointer;

  &:first-of-type {
    left: -20px;
  }
  &:first-of-type:hover {
    transform: scale(1.05) translateY(-50%);
  }

  &:first-of-type:active {
    transform: scale(0.95) translateY(-50%);
  }

  &:last-of-type {
    right: -20px;
  }
  &:last-of-type:hover {
    transform: scale(1.05) translateY(-50%);
  }
  &:last-of-type:active {
    transform: scale(0.95) translateY(-50%);
  }
}
